<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<body>
    <h1>Selecione uma plataforma</h1>
    <div class="links">
        <div id="windows"><img src="../imgs/logoWindows.svg"></div>
        <div id="sony"><img src="../imgs/logoSony.svg"></div>
        <div id="xbox"><img src="../imgs/logoXbox.svg"></div>
        <div id="nintendo"><img src="../imgs/logoNintendo.svg"></div>

    </div>
</body>
</html>