body{
    padding-left: 10vw;
    padding-right: 10vw;
}
#exclusiveGamesTitle{
    text-align: center;
}
.cardGames{
    width: 80vw;
    border: 0.2vw;
    border-style: solid;
    border-color: white;
}
.cardGames:not(:first-of-type){
    margin-top: 5vh;
}
#windows, #sony, #xbox, #nintendo{
width: 40vw;
height: 40vw;
margin-left: 20vw;
margin-right: 20vw;
border-radius: 100%;
display: flex;
}
#logo{
    width: 80%;
    margin: 10%;
}
.gameplay{
    width: 100%;
}

#containerCardGames{
    display: block;
}

.nameGame, .price{
    text-align: center;
}
.date, .description{
    margin-right: 10%;
    margin-left: 10%;

}

@media(min-width: 928px){

    #windows, #sony, #xbox, #nintendo{
        width: 10vw;
        height: 10vw;
        margin-left: 35vw;
        margin-right: 35vw;
        }

        .cardGames{
            width: 17vw;
        }
        .cardGames:not(:first-of-type){
            margin-left: 4vw;
            margin-top: 0;
        }
        #containerCardGames{
            display: flex;
        }


}
