body{
    padding-left: 10vw;
    padding-right: 10vw;
}
#exclusiveGamesTitle{
    text-align: center;
    margin: 40px 0px;
}

body>.microsoft, body>.sony, body>.pc, body>.nintendo{
width: 40vw;
height: 40vw;
margin-left: 20vw;
margin-right: 20vw;
border-radius: 100%;
display: flex;
margin-top: 20%;
margin-bottom: 20px;
}
#logo{
    width: 80%;
    margin: 10%;
}

.containerDates{
    display: flex;
    width: 80vw;
    height: 40px;
    
}
.dateTitle{
    width: 60%;
}

.dates{
    width: 40%;
}


.containerCardGames{
    width: 100%;
    display: block;
}

.cardGames{
    width: 100%-12px;
    border: 7px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-style: solid;
    border-color: white;
}

.cardGames:not(:first-of-type){
    margin-top: 5vh;
}

.gameplay{
    width: 100%;
}

.nameGame, .price{
    text-align: center;
}
.date, .description{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;

}

.containerNE{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.icon{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    display: flex;
    aspect-ratio: 1 / 1; 
}
.icon>a{
    width: 100%;
    height: 100%;
    display: flex;
}
.icon>a>img{
    width: 80%;
    margin: 10%;
}

@media(min-width: 768px){
    .dateTitle{
        width: 30%;
    }
    
    .dates{
        width: 70%;
    }
}

@media(min-width: 928px){
    body>.microsoft, body>.sony, body>.pc, body>.nintendo{
        width: 10vw;
        height: 10vw;
        margin-left: 35vw;
        margin-right: 35vw;
        margin-top: 3%;
        }

        .cardGames{
            width: 17vw;
            box-sizing: border-box;
        }
        .cardGames:not(:first-of-type){
            margin-top: 0;
        }
        .containerCardGames{
            display: inline-flex;
            justify-content: space-around;
        }
        .containerCardGames:not(:first-of-type){
            margin-top: 20px;
        }
        .containerDates{
            width: auto;
        }
        .dateTitle{
            width: 177px;
        }
        
        .dates{
            width: auto;
        }


}


