:root{
    --windows-color:#66C0F4;
    --sony-color: #182580;
    --xbox-color: #107C10;
    --nintendo-color:#E60012;
    --backgroung-color: #1E1E1E;
}

body{
    background-color: var(--backgroung-color);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

#windows{
    background-color: var(--windows-color);
    margin-left: 22.2vw;
    margin-top: 20%;
}
#sony{
    background-color: var(--sony-color);
    margin-left: 22.2vw;
    margin-top: 20%;
}
#xbox{
    background-color: var(--xbox-color);
    margin-left: 22.2vw;
    margin-top: 20%;

}
#nintendo{
    background-color: var(--nintendo-color);
    margin-left: 22.2vw;
    margin-top: 20%;
}