#title{
    text-align: center;
    margin-top: 3vw;
}
.containerInput{
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.containerInput:not(:first-of-type){
    margin-top: 2vw;
}

.input{
    border-radius: 10px;
    width: 60vw;
}
#confirm{
    font-size: larger;
    border-radius: 10px;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10px;
}

.datas{
    width:20vw;
}
#response
{
    color: rgb(180, 3, 3);
    text-align: center;
}
.formLogin
{   width: 35%;
    height: 70vh;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    background-color: rgb(43, 42, 42);
    border-radius: 5px;
    align-items: center;
}
h2
{
    margin-bottom: 20%;
}

@media(min-width: 928px){
    .containerInput{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .input{
        width: 55vw;
    }
    #confirm{
        
        width: 14vw;
        margin-left: 43vw;
        margin-right: 43vw;
        margin-top: 10px;
    }
    
    .datas{
        width:5vw;
    }
}