<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/form.css">
    <title>formulário games exclusivos</title>
</head>
<body>
    <header class="mainHeader">
        <nav class="menu">
            <a class="menuLink" href="./restrictArea.html">Home</a>
            <a class="menuLink" href="login.html">Login</a>
        </nav>
    </header>
    <div class="container">
        <form action="" class="form">
            <h2> Formulário Jogo Exclusivo</h2>
            <label for="gameName"class='labelForm'>NOME</label>
            <input type="text" class="inputForm" id="gameName" placeholder="Nome do game">
            <textarea name="descriptionGame" id="descriptionGame" class="descriptionGame" cols="10" rows="10"
          placeholder="Descrição do Projeto"></textarea>
          <label for="linkVideo"class='labelForm'>VIDEO</label>
            <input type="text" class="inputForm" id="linkVideo" placeholder="Trailer oficial">
            <label for="priceGame" class='labelForm'>PREÇO OFICIAL</label>
            <input type="number" class="inputForm" id="priceGame" placeholder="Preço oficial">
            <label for="dateGame"class='labelForm'>DATA</label>
            <input type="date" class="inputForm" id="dateGame">
            <label for="company"class='labelForm-center'>Plataformas</label>
            <select name="company" id="company" class="SelectCompany" disabled>
                <option value="Microsoft">Microsoft</option>
                <option value="Sony">Sony</option>
                <option value="Nintendo">Nintendo</option>
                <option value="Pc">PC</option>
            </select>
            <input type="submit" value="Enviar" class="btnForm" id="send">
            <input type="reset" value="Reset" class="btnForm" id="reset">
        </form>
    </div>
    <script src="../JS/editExclusiveGames.js"></script>
</body>
</html>