<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="../CSS/games.css">
    <link rel="stylesheet" href="../CSS/index.css">

</head>
<body>
    <header class="mainHeader">
        <nav class="menu">
            <a class="menuLink" href="../../index.html">Home</a>
            <a class="menuLink" href="./login.html">Login</a>
        </nav>
    </header>
    <script src="../JS/games.js"></script>
</body>
</html>