<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="../CSS/games.css">
</head>
<body>
    <div id="logo">
        <img src="../imgs/logoXbox.svg" id="logoImage" alt="Logo">
    </div>
    <h2 class="event">Ultimo evento: <span id="lastEvent">19/02/2023</span></h2>
    <h2 class="event">Próximo evento: <span id="nextEvent"></span>22/11/2023</h2>
    <h1 id="exclusiveGamesTitle">Jogos exclusivos</h1>
    <div id="containerCardGames">
    <div class="cardGames">
        <h3 class="nameGame">João Gameplays</h3>
        <iframe class="gameplay" src="" frameborder="0"></iframe>
        <h3 class="price">R$19,99</h3>
        <h1 class="date">19| OUT</h1>
        <p class="description">Exemplo descrição</p>
    </div>


</div>
    
</body>
</html>