<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <header class="mainHeader">
        <nav class="menu">
            <a class="menuLink" href="../../index.html">Home</a>
            <a class="menuLink" href="./login.html">Login</a>
        </nav>
    </header>
    <h1 id="title">Login</h1>
    <div class="containerInput">
        <p class="datas">Login: </p>
        <input class="input" type="text">
    </div>
    <div class="containerInput">
        <p class="datas">Senha: </p>
        <input class="input" type="text">
    </div>
    <button id="confirm">Confirmar</button>
</body>
</html>