<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/restrictArea.css">
    <title>Area restrita</title>
</head>
<body>
    <header class="mainHeader">
        <nav class="menu">
            <a class="menuLink" href="#">Home</a>
            <a class="menuLink" href="login.html">Login</a>
        </nav>
    </header>
    <h1 class="tittle">Area Restrita sistema Triple-A</h1>
    <div class="container">
        <div class="containerDataUser">
            <p class="DataUser" id="nome"></p>
            <p class="DataUser" id="email"> </p>
        </div>
        <div class="forms">
            <a class="link" href=""><button class="BtnlinkForm">Inserir jogo Exclusivo</button></a>
            <a class="link" href=""><button class="BtnlinkForm">Inserir jogo não Exclusivo</button></a>
            <a class="link" href=""><button class="BtnlinkForm">Inserir data de Evento</button></a>
        </div>
    </div>
    <script src="../JS/restrictArea.js"></script>
</body>
</html>